{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Rango dice...Hola {{ user.username |capfirst }}!</h1>
    {% else %}
        <h1>Rango dice...Hola Mundo!</h1>
    {% endif %}

	<a href="{% url 'add_category' %}">Crear una nueva Categoría</a>
	{% if categories %}
		<ul>
			{% for category in categories %}
                <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
		</ul>
	{% else %}
		<strong>No hay categorias presentes.</strong>
	{% endif %}


{% endblock %}
